@page
@model SD.ProjectName.WebApp.Areas.Identity.Pages.Account.AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<h1 class="text-danger">Access denied</h1>
<p class="lead">You do not have permission to access this page. Sign in with an account that has the required role or contact support if you believe this is an error.</p>
