@page
@model SD.ProjectName.WebApp.Areas.Identity.Pages.Account.ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<p class="text-success">@Model.StatusMessage</p>
